#nav {}

#logo {}

.content_wrapper {}

blockquote {border: 1px solid #888;}

.info-h2 { border: 1px solid #888;}

.post { border: 1px solid #888;}

.type-page { border: 1px solid #888;}
.entry img {border: 1px solid #888;}
pre { }
code, tt { border: 1px solid #888;}

#up_menu {border: 1px solid #888;}


    .widget {border: 1px solid #888; }

ol.commentlist li.comment {border: 1px solid #888;}


#respond {border: 1px solid #888;}
