/wp-settings.php
/wp-login.php
/xmlrpc.php
/wp-cron.php
/wp-blog-header.php
/wp-mail.php
/wp-comments-post.php
/wp-activate.php
/wp-links-opml.php
/wp-signup.php
/wp-load.php
/wp-config.php
/wp-includes/
/readme.html
/license.txt
/wp-app.php
/index.php
/wp-trackback.php
/wp-admin/
!/wp-content/themes/UP2WP/
/wp-content/index.php
/wp-content/plugins/
/wp-content/themes/twentyeleven/
/wp-content/themes/twentyten/
/wp-content/themes/index.php